div{

  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.content{

  display: inline-block;
}

span{

  font-size: 55px;


}

p{
  display: block;
  padding-left:5px ;
  padding-right:5px ;
  width:150Px;
  height: 30px;


}


.title{
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;


}

.subtitle{
  outline: skyblue;
  font-size: 15px;
}
